<div class="col-md-5 ml-auto">
    <div class="card">
        <div class="card-body text-dark">
            <table class="table table-striped">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Dia</th>
                    <th scope="col">Hora</th>
                    <th scope="col">Nome</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <th scope="row">1</th>
                    <td>2021-11-22</td>
                    <td>08:30</td>
                    <td>Maria A. de Aquino Lima</td>
                    </tr>
                    <tr>
                    <th scope="row">2</th>
                    <td>2021-11-22</td>
                    <td>09:00</td>
                    <td>Eudnice F. Ascendino de Souza</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>