<div class="col-md-5 ml-auto">
    <div class="card">
        <div class="card-body text-dark">
        <form method="post" action="/">
            <div class="form-group p-1">
            <label for="name">Nome Completo</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Digite seu nome" required>
            </div>
            <div class="form-group p-1">
            <label for="date">Data</label>
            <input type="date" min="2021-11-19" class="form-control" name="date" id="date" required>
            </div><div class="form-group p-1">
            <label for="hour">Hora</label>
            <input type="time" class="form-control" name="hour" id="hour" min="08:00" max="17:00" required>
            <small>Horario de funcionamento e de: 08:00 as 17:00</small>
            </div>
            <div class="form-group p-1">
            <label for="phone">Telefone p/ contato</label>
            <input type="tel" class="form-control" id="phone" name="phone" maxlength="11" required>
            </div>
            <div class="d-grid gap-2 mt-1">
            <button class="btn btn-success" type="submit">Agendar</button>
            </div>
        </form>
        </div>
    </div>
</div>
<script type="text/javascript">
	var inputDate = document.querySelector("#date");
	var newDate = new Date();
	var atualDate = `${newDate.getFullYear()}-${newDate.getMonth()+1}-${newDate.getDate()}`;
	inputDate.min = atualDate;
</script>